absl-py==0.7.1
astor==0.7.1
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
gmpy2==2.0.8
grpcio==1.20.1
h5py==2.9.0
idna==2.9
imageio==2.5.0
imgaug==0.2.9
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
mock==3.0.5
mpmath==1.1.0
networkx==2.3
numpy==1.16.3
opencv-python==4.1.0.25
Pillow==6.0.0
protobuf==3.7.1
pycrypto==2.6.1
pyparsing==2.4.0
python-dateutil==2.8.0
PyWavelets==1.0.3
PyYAML==5.1
requests==2.23.0
scikit-image==0.15.0
scipy==1.2.1
Shapely==1.6.4.post2
six==1.12.0
sympy==1.5.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.8
Werkzeug==0.15.2
